@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300;500;600;700;800&display=swap'); 

/* -------------------Root variables--------------------- */
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: #848bc8;
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-coffee-dark:#7C3F43;
    --color-coffee-light:#783D41;
    

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 .5rem 1rem var(--color-light);


}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size:14px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);

}
.container{
    display: grid;
    width: 96%;
    margin: 0 auto;
    gap: 1.8rem;
    
}

a{
    color: var(--color-dark);
}

img{
    display: block;
    width: 100%;
}
h1{
    font-weight: 800;
    font-size: 1.8rem;

}

h2{
    font-size: 1.4rem;

}

h3{
    font-size: 0.87;

}

h4{
    font-size: 0.8rem;

}

h5{
    font-size: 0.77;
}

small{
    font-size: 0.75rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow:hidden;

}

.text-muted{
    color:var(--color-info-dark);
}

p{
    color:var(--color-dark-variant);
}

b{
    color: var(--color-dark);

}

.primary{
    color:var(--color-primary);
}
.danger{
    color:var(--color-danger);
}
.success{
    color:var(--color-success);
}
.warning{
    color:var(--color-warning);
}
*{
  padding: 0;
  margin: 0;
    box-sizing: border-box;
}
body{
  background-size: cover;
  background-position: center;

  font-family: sans-serif;
}
.menu-bar
{
  background: #6E363A;
  text-align: center;
}

.menu-bar ul
{
  display: inline-flex;
  list-style: none;
  color: white;
}
.menu-bar ul li
{
  width: 120px;
  margin: 15px;
  padding: 15px;
}

.menu-bar ul li a
{
  text-decoration: none;
  color: white;

}

.active,.menu-bar ul li:hover
{
  background: #93494E;
  border-radius: 3px;
}

.menu-bar .fa
{
  margin-right: 8px;
}

.submenu-user
{
  display: none;
}
.menu-bar ul li:hover .submenu-user
{
  display: block;
  position: absolute;
  background: #6E363A;
  margin-top: 15px;
  margin-left: -15px;
}
.menu-bar ul li:hover .submenu-user ul
{
  display: block;
   margin: 10px;
}
.menu-bar ul li:hover .submenu-user ul li
{
  width: 150px;
  padding: 10px;
  border-bottom: 1px dotted #fff;
  background: transparent;
  border-radius:0;
  text-align: left;
  
}
.menu-bar ul li:hover .submenu-user ul li:last-child
{
  border-bottom: none;    
}
.menu-bar ul li:hover .submenu-user ul li a:hover
{
  color: #CCBDBE;    
}

.fa-angle-right
{
  float: right;
}
.pro-submenu{
  display: none;
}

.open-prosubmenu:hover .pro-submenu
{
    position: absolute;
  display: block;
  background: #6E363A;
  margin-top: -40px;
  margin-left: 140px;
}
.logo img{
  width: 7rem;
  height: 3rem;
  margin-top: 1rem;
  margin-left: -40px;

}

/* ----------------------------------CREATE EMPLOYEE -------------------------*/


.containerR{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  margin-left: 22rem;
  margin-top: 7rem;
}
.containerR .title{
  font-size: 25px;
  font-weight: 500;
 
}
/* .containerR .title::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
} */
.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
  border-color:var(--color-coffee-dark);
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 500;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category label .one,
 #dot-2:checked ~ .category label .two,
 #dot-3:checked ~ .category label .three{
   background:var(--color-coffee-dark);
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 35px;
   margin: 35px 0;
   width: 80px;
   
 }
 form .button input{
   height: 100%;
   width: 100%;
   border-radius: var(--border-radius-2);
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #7C3F43, #783D41);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #7C3F43, #783D41);
  }

  .dropdown-container {
    display: none;
    background-color: var(--color-background);
    padding-left: 8px;
  }

  .drop{
    border: 1px solid black;
    width: 40%;
    height: 40px;
    
    border-radius: var(--border-radius-1);
    margin-top: 10px;
    margin-bottom: 10px;
    
  }
  .header{
    margin-top: 5px;
    font-family: "poppins",sans-serif;
  }
  .drop select{
    cursor: pointer;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "poppins",sans-serif;
    
  }
  .drop input{
    cursor: pointer;
    width: 240px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: "poppins",sans-serif;
    
  }
  .submit{
    margin-top: -8px;
  }
  
  .button {
    background-color: var(--color-coffee-dark);
    border: none;
    color: var(--color-white);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: var(--border-radius-1);
    margin-top: 10px;
  }

  .table{
    border-collapse: collapse;
    
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }
  table thead tr{
    color: #fff;
    background:var(--color-coffee-light);
    text-align: left;
    font-weight: bold;
  }
  
  .table th,
  .table td{
    padding: 12px 15px;
    text-align: center;
  }
  .table tbody tr{
    border-bottom: 1px solid #ddd;
  }
  .table tbody tr:nth-of-type(odd){
    background: #f3f3f3;
  }
  /* .table tbody tr.active{
    font-weight: bold;
    color: #4AD489;
  } */
  .table tbody tr:last-of-type{
    border-bottom: 1px solid var(--color-danger);
  }
  .table button{
    padding: 6px 20px;
    border-radius: 10px;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--color-coffee-dark);
  }
  .table button:hover{
    background: var(--color-danger);
    color: #fff;
    transition: 0.5rem;
  }
  
  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width:45px;
    height: 19px;
    margin-top: 0.5rem;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
   
  input:checked + .slider {
    background-color: var(--color-coffee-dark);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--color-coffee-dark);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

 @media(max-width: 584px){
 .containerR{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .containerR .content .category{
    flex-direction: column;
  }
}

/* ================================================SESSION MESSAGE============================================== */

  .success{
    color: #2ed573;
}
.error{
    color: #ff4757;
}